choicerouter/src/main/mule/choicerouter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0bdfdc08-c6bb-4d3d-9482-a7940be04868" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="aba0ee99-0234-42d0-b7cb-7dea28c8136c" >
		<db:my-sql-connection host="localhost" port="3306" user="root" database="customer" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="1c58f4be-5d31-4798-a087-1b58b2894d18" >
		<db:my-sql-connection host="localhost" port="3306" user="root" database="customer" />
	</db:config>
	<flow name="choicerouterFlow" doc:id="2959812a-eda5-4062-a357-8371cf96fb6e" >
		<http:listener doc:name="Listener" doc:id="75bb5107-6149-46c3-9762-52339fb5dcab" config-ref="HTTP_Listener_config" path="/ch"/>
		<choice doc:name="Choice" doc:id="8e08a84b-2ecd-4b12-ae77-7db610586925" >
			<when expression="#[attributes.queryParams.data == 'customerinfoData']">
				<db:select doc:name="Select" doc:id="774902d8-6c2a-4d29-a0b7-538b739c2db4" config-ref="Database_Config1">
					<db:sql >select * from customerinfo</db:sql>
				</db:select>
				<ee:transform doc:name="Transform Message" doc:id="f5170653-62b5-4afc-91f6-3e4e91af19b9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[attributes.queryParams.data == 'productData']">
				<db:select doc:name="Select" doc:id="5e9c3ccb-f10d-4951-ae15-d550e2f01c00" config-ref="Database_Config">
					<db:sql >select * from product</db:sql>
				</db:select>
				<ee:transform doc:name="Transform Message" doc:id="d33bed40-5991-496d-8b49-29e000c420f2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<set-payload value="I can print nothing!" doc:name="Set Payload" doc:id="9320cdb3-496c-496a-9545-d25e54a53a84" />
			</otherwise>
		</choice>
	</flow>
</mule>
